<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>534759855534-l28q5o5u9rf3haaqc6a5nidiotu8upes.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.534759855534-l28q5o5u9rf3haaqc6a5nidiotu8upes</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>534759855534-jmm90c8l9le45dlsiopr2a57l382p3du.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBOpZna6Vg8UQsdIpg05JIT0lPLL9FkaTU</string>
	<key>GCM_SENDER_ID</key>
	<string>534759855534</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.NagarCode.diraNedira</string>
	<key>PROJECT_ID</key>
	<string>dira-nedira-e40aa</string>
	<key>STORAGE_BUCKET</key>
	<string>dira-nedira-e40aa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:534759855534:ios:9229077179e197c62f643f</string>
	<key>DATABASE_URL</key>
	<string>https://dira-nedira-e40aa.firebaseio.com</string>
</dict>
</plist>